@charset "UTF-8";

table{
	margin:auto;
	font-family: 'Verdana', sans-serif;
	font-size: 40px;
	border:solid 2px #000000;
	border-collapse: collapse;
	
}

table th,td{
	border:solid 2px #000000;
	text-align: center;
	
}